<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.relax.sounds">
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application android:label="Nature Relax" android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
